<!-- courses.html -->
{% extends "base.html" %}

{% block title %}Cursos Disponibles{% endblock %}

{% block content %}
<h1>Cursos Disponibles</h1>
<div class="list-group">
    {% for course in courses %}
        <div class="list-group-item">
            <h5>{{ course.name }}</h5>
            <p>{{ course.description[:100] }}... </p> <!-- Muestra una descripción abreviada -->
            
            <!-- Botón para ver más información -->
            <a href="{{ url_for('main.course_detail', course_id=course.id) }}" class="btn btn-info btn-sm">
                Ver más información
            </a>
            
            <!-- Botón para inscribirse -->
            <form action="{{ url_for('main.enroll', course_id=course.id) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-primary btn-sm">Inscribirse</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}
